[packages]
geojson = ">2.4.0"
simplejson=">=3.16.0"

[dev-packages]
ipdb = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
mypy = "*"
black = "==18.9b0"
setuptools = ">=24.2.0"
pip = ">=9.0.0"

[requires]
python_version = "3"
